@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
   width: 100vw;
   height: 100vh;
   background-color: #f5f2f0;
   overflow-y: hidden;
   overflow-x: hidden;
}

.header{
    position: relative;
    top:30px
}

.list{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list ul{
    position: absolute;
    list-style: none;
    display: flex;
    column-gap: 1.5rem;
    right: 80px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.logo{
    position: relative;
    width:100px;
    left: 40px;
    z-index: 1;
}

.left-section{
    width: 510px;
    height: 200px;
}

.left-section img{
    position: relative;
    width: 500px;
    height: 620px;
    top:-40px;  
    
}

.right-section{
    position:absolute;
    left: 500px;
    top: -30px;
    width: 500px;
    height: 500px;
}

.first-sec{
    position: absolute;
    display: flex;
    top: 80px;
    justify-content: space-between;
    width: 700px;
}
.icons{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    right: 25px;
    top: 15px;
    left: 670px;
}

.btn-package{
    position: absolute;
    top: 290px;
    left: 550px;
    width: 270px;
    left: 420px;
    height: 40px;
    color: #f5f2f0;
    background-color:#333333;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.second-sec{
    position: absolute;
    display: flex;
    top: 360px;
}

.icons img{
    width: 15px;
}

.caterogy{
    position: absolute;
    top: 20px;
    left: 100px;
    font-size: 20px;
    width: 200px;
    padding-left: 23px;
    border-left: solid 1px black;
    list-style: none;
    width: 200px;
    height: 250px;
}

.types{
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-family: 600;
    opacity: .3;
}

.types::before {
    content: '';
    border: 7px solid #1b1b1b;
    border-radius: 1rem;
    height: 0; /* it's all controlled by the border */
    width: 0;
    margin-top: 5px;
    margin-left:  -1.9rem;
    position: absolute;     
}

.types-active{
    margin-bottom: 20px;
    opacity: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-family: 600;
}

.types-active::before {
    content: '';
    border: 7px solid #1b1b1b;
    border-radius: 1rem;
    height: 0; /* it's all controlled by the border */
    width: 0;
    margin-top: 0px;
    margin-left:  -1.9rem;
    position: absolute;     
}

.col-2{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    width: 300px;
    left: 140px;
}

.col-2 p{
    position: relative;
    left: 200px;
   
}

.col-2 .desc{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.col-2 img{
    position: relative;
    width: 300px;
    left:200px
}

.heading-1{
    position: absolute;
    left: 80px;
    border-top: 1.5px solid black;
    width: 300px;
    top:0px;
    height: 10px;
}

.heading-1 .head-1{
    position: absolute;
    font-size: 90px;
    color: black;
    -webkit-text-fill-color: #f5f2f0; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    top: 30px;
}

.heading-1 .head-2{
    position: absolute;
    font-size: 90px;
    left: 110px;
    color: #333333;
    top: 100px;
}
 
.heading-2{
    position: absolute;
    font-size: 25px;
    top:120px;
    left: 420px;
    color: gray;
    /* color: #d3d1d0; */
    font-family: 'Poppins', sans-serif;
}


.quotes{
    position: absolute;
    font-size: 35px;
}
